body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(216, 104, 194);
}

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
    


}
.quest {
    text-align:center;
    color:white;
}



    .butn {
        background-color: #ffffff;
        color: rgb(48, 211, 233);
        padding: 15px 32px;
        
        display: inline-block;
        font-size: 16px;
       
        cursor: pointer;
        border: none;
        border-radius: 30px;
       
       
    }

    .button {
        display: flex;
        position:absolute;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 500px;
        margin-left: 0px;
        background-color:rgb(216, 104, 194);;
        cursor: pointer;}